.item{
    height: 80px;
    border: 2px solid rgb(189, 189, 189);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.play{
    padding: 20px;
    cursor: pointer;
}

.pic{
    box-shadow: 0 0 2px #333;
}

.name{

}

.artist{

}

.del{

}