.btn{
    background-color: rgb(0, 110, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    color: #fff;
    box-shadow: 2px 2px 2px #333;
    margin: 10px;
    transition: all ease .2s;

    & a{
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 10px 20px;
    }

    &:hover{
        background-color: rgb(0, 174, 255);
    }
}

.body{
    padding: 20px;
}

.pic{
    box-shadow: 0 0 2px #333;
    height: 130px;
}

.main{
    display: flex;
    gap: 20px;
}

.mainInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #333;
    font-weight: 500;
}

.artist{
    color: rgb(105, 105, 105);
    font-size: 18px;
}

.name{
    font-size: 20px;
}

.listens{
    font-size: 16px;
}